<% include front/inc/top.ejs %>
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h2 class="pageTitle">
					Espace de connexion
				</h2>
			</div>

		</div>
	</div>
</section>
<section id="content">
	<div class="container content" style="min-height: 432px;">
		<%- messages('message', locals) %>
			<% if(locals.errors){  for(error of locals.errors) { %>
		
				<div class="alert alert-danger">
					<%= error.msg %>
				</div>
				<% }} %>
		<div class="panel-body">
			<form accept-charset="UTF-8" role="form" method="POST" action="users/login">
			<fieldset>
				<div class="form-group">
					<input class="form-control" placeholder="E-mail" name="USERLOGIN" type="text">
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="Password" name="USERPWD" type="password" value="">
				</div>
				<div class="checkbox">
					<label>
						<a type="submit" href="/users/forgot-pwd">mot de passe oublié ?</a>
					</label>
				</div>
				<input class="btn btn-lg btn-success btn-block" type="submit" value="Se connecter">
			</fieldset>
			</form>
		</div>
	</div>
</section>
<% include front/inc/bottom.ejs  %>