<% include ../layout/header.ejs  %>
  <div class="container">
    <%- messages('message', locals) %>

      <div class="form-group col-md-offset-4 ajouter">
        <form action="roles/create" method="get">
          <input class='btn btn-success' style="width:30%; margin-top:5%; margin-left:12%;" type="submit" value="Ajouter un role" data-toggle="modal">
      </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <h4>Liste des roles</h4>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>
                  <input type="checkbox" id="checkall" />
                </th>
                <th>Nom du role</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </thead>
              <tbody>
                <%  for(role of roles) { %>
                  <tr>
                    <td></td>
                    <td>
                      <%= role.ROLENAME %>
                    </td>
                    <td>
                      <a href="roles/edit/<%= role.ROLEID %>">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                      </a>
                    </td>
                    <td>
                      <a href="roles/delete/<%= role.ROLEID %>" onclick="return confirm('Voulez vous vraiment supprimer ?');">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                  <%  } %>
              </tbody>
            </table>
            <div class="clearfix"></div>
            <ul class="pagination pull-right">
              <li class="disabled">
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            </ul>

          </div>

        </div>
      </div>
  </div>


  <% include ../layout/footer  %>