<% include inc/top.ejs%>
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">À propos</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="../front/img/dev1.png" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<h3>Objectif</h3>
						<p>Cette plateforme a pour but de permettre aux anciens miagistes de garder le lien avec la miage (dépose d'offres d'emploi, de stage, d'alternance et diffusion des informations sur les différents événements).</p>
						<p>La formation MIAGE ouvre les portes sur différents types de métiers d’encadrement dans l’informatique des organisations. Elle forme principalement des spécialistes en informatique de gestion, chargés de la conception, de la mise en œuvre et du contrôle des systèmes d’information dans le domaine de la gestion.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
					
					<div class="about">
				
						<div class="row">
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>La MIAGE de Mulhouse</span></h3>
								</div>
								<p>La Miage forme des professionnels de l’ingénierie des systèmes d’information des entreprises et favorise 
								le développement d’une double compétence en informatique d’une part et en gestion des entreprises et économie d’autre part.<br/><br/>
								Depuis leur création en 1970, les Miage développent une compétence de base 
								en informatique couplée avec une formation en organisation de l’entreprise.</p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									
								<p><br/><br/><br/>Au cours de leurs activités professionnelles, les diplômés seront amenés à concevoir 
								et à mettre en place de grands systèmes d’information pour des organisations complexes. <br/><br/>Même s’ils sont davantage portés 
								sur la technique et les technologies, leur connaissance du monde de l’entreprise sera donc un atout. C’est leur capacité à analyser 
								le fonctionnement des organisations,</p>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="block-heading-two">
									
								<p><br/><br/><br/>leur structure et les interactions internes 
								et externes (technique, humaine, financière, industrielle, commerciale…), 
								leur pilotage aux différents niveaux (opérationnel, tactique, stratégique) qui va entrer en ligne de compte.</p>
								</div>
																	
							</div>
							
						</div>
											 
						<br>
				
					</div>
									
				</div>
	</section>
<% include inc/bottom.ejs  %>