<% include inc/top.ejs  %>
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="container">
		<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Anciens MIAGE MULHOUSE</h3>
								</div>  
							</div>
						</div>
	<%- messages('message', locals) %>
		<% if(locals.errors){  for(error of locals.errors) {  %>
	
			<div class="alert alert-danger">
				<%= error.msg %>
			</div>
			<% }} %>
	<div class="row">
								<div class="col-md-6">								  	
		   <!-- Form itself -->
          <form method="POST" action="/contact" name="sentMessage" id="contactForm"  novalidate>
	       <h3>Contactez Nous</h3>
		 <div class="control-group">
                    <div class="controls">
			<input type="text" class="form-control" 
			   	   placeholder="Nom" name="name" id="name" required
			           data-validation-required-message="Entrez votre nom!" />
			  <p class="help-block"></p>
		   </div>
	         </div> 	
                <div class="control-group">
                  <div class="controls">
			<input type="email" class="form-control" placeholder="Email" 
			   	            name="email" id="email" required
			   		   data-validation-required-message="Entrez votre email!" />
		</div>
	    </div> 	
			  
               <div class="control-group">
                 <div class="controls">
				 <textarea rows="10" cols="100" class="form-control" 
                       placeholder="Message" name="message" id="message" required
		       data-validation-required-message="Entrez votre message" minlength="5" 
                       data-validation-minlength-message="Min 5 characters" 
                        maxlength="999" style="resize:none"></textarea>
		</div>
               </div> 		 
	     <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-primary pull-right">Envoyer</button><br />
          </form>
								</div>
								<div class="col-md-6">
									<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2683.7201563717517!2d7.309758367703763!3d47.72868024915578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smiage+mulhouse!5e0!3m2!1sfr!2sfr!4v1527500835292"
									 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								</div>
							</div>
	</div>
 
	</section>
<% include inc/bottom.ejs  %>