<% include inc/top.ejs  %>
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">MIAGE MULHOUSE</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>MIAGE MULHOUSE</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                         Un diplôme universitaire professionnalisant qui délivre une double compétence en informatique et en gestion. Cette formation
                        s’effectue à l’Université de Haute-Alsace (UHA) sur le campus de Mulhouse. Son objectif est de former les étudiants aux méthodes
                        d’ingénierie des systèmes d’information et de décision des entreprises, administrations ou encore des collectivités.
                        <br>
                        <a href="http://www.miage.fst.uha.fr/" target="blank">http://www.miage.fst.uha.fr/</a>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <% include inc/bottom.ejs  %>