<% include inc/top.ejs  %>
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">MMA</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="content" style="min-height: 452px;">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>MIAGE MULHOUSE ASSOCIATION</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                         Créée en 1976, la MIAGE Mulhouse Association, ou MMA, est l’association regroupant les étudiants de la MIAGE de Mulhouse.
                        Notre activité principale est d’offrir un lieu de convivialité aux adhérents, qui peuvent trouver à leur disposition un large
                        choix de boissons chaudes ou froides et de barres énergétiques ou chocolatées. Nous organisons également des soirées et diverses
                        activités lors des manifestations étudiantes dans la ville de Mulhouse et ses environs. Dans une optique plus studieuse,
                        nous mettons à disposition des adhérents les annales des examens des années précédentes, et prenons part à la promotion de
                        la filièreMIAGE auprès des lycéens lors d’événements tels que les journées portes-ouvertes de l’Université de Haute Alsace
                        ou des Forums des Métiers et autres Journées des Carrières. Au niveau national, l’association est membre du réseau Miage
                        Connection qui unifie et représente les 18 MIAGE de France.
                        <br> Les locaux de l’association sont situés à l’adresse suivante: MIAGE Mulhouse Association Faculté des Sciences et Techniques 4 rue des Frères Lumière 68093 Mulhouse CEDEX
                        <br> site web : <a target="blank" href="http://www.mma.fst.uha.fr/">http://www.mma.fst.uha.fr/</a>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <% include inc/bottom.ejs  %>