<% include header   %>
    <form action="/" method="post" class="ui form">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <button type="submit" class="ui blue labled submit icon button">
            <i class="icon edit"></i>Envoyer
        </button>
    </form>

    <div class="ui comments">
        <h3  class="ui dividing header">Commentaires</h3>
        <%  for(message of messages) { %>
             <div class="comment">
             <div class="content">
             <div class="metadata">
                <div class=""date>
                    <%= message.created_at.fromNow() %>
                </div>
             </div>
                <div class="test"><%= message.content %></div>
             </div>
             </div>
        <%  } %>
    </div>
<% include footer %>